<!--Ignore the typo for vgap and hgap-->
<!--Anything below here is the style of the ATM-->



#Layout {
    -fx-grid-lines-visible: false;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
}
#Actions {
    -fx-pref-columns: 1;
    -fx-pref-tile-width: 75;
    -fx-hgap: -10;
    -fx-vgap: -5;
}
.root {
    -fx-background-color: white;
}

#introLayer {
    -fx-background-color: white;
}
#firstLayer {
    -fx-background-color: white;
}
#secondLayer {
    -fx-background-color: white;
}
#backgroundLayer {
    -fx-background-color: #A0ADBC;
    -fx-background-radius: 5px;
}
#gradientLayer {
    -fx-background-color: linear-gradient(to left, #FFFFFF 90%, rgba(255, 0, 0, 0) 100%);
}
#topContainer {
    -fx-background-color: linear-gradient(to bottom, #164ea1 0%, white 0%);
}
#bottomContainer {
    -fx-background-color: linear-gradient(to top, #164ea1 0%, white 0%);
}

#introLabel {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-font-size: 1.8em;
    -fx-font-weight: 700;

    -fx-padding: 0em 0em 0em -5em;
}
#loginLabel {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-font-size: 1.8em;
    -fx-font-weight: 700;

    -fx-padding: 0em .7em
}
#messageLabel {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-font-size: 1.2em;
    -fx-font-weight: 700;

    -fx-padding: 0em 0.7em
}
#pinHBox {
-fx-padding: 0em 1em
}
#pinField {
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-font-size: 1.2em;
    -fx-font-weight: 700;

    -fx-background-radius: 8px;

    -fx-border-color: #A0ADBC;
    -fx-border-width: 4px;
    -fx-border-radius: 5px;

    -fx-text-alignment: center;
}
#pinField.glowing {
-fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
-fx-font-size: 1.2em;
-fx-font-weight: 700;
-fx-background-radius: 8px;
fx-border-width: 4px;
-fx-border-radius: 2px;
-fx-font-size: 1.2em;
-fx-text-alignment: center;

-fx-border-color: #164ea1;
-fx-effect: dropshadow(gaussian, #164ea1, 4, 0.5, 0, 0);
}
.separator {
    -fx-pref-height: 2px;
}
#optionButton {
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 2em;
    -fx-font-weight: 700;

    -fx-padding: 0em 0.5em;
}
#optionButton:hover {
    -fx-text-fill: #164ea1;
}

#backButton {
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -fx-text-fill: black;
    -fx-font-size: 2em;
    -fx-font-weight: 700;

    -fx-padding: 0em 0.5em;
}
#backButton:hover {
    -fx-text-fill: #164ea1;
}

#startButton {
     -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     -fx-font-weight: 700;
     -fx-font-size: 1.2em;

     -fx-background-color: #A0ADBC;
     -fx-text-fill: white;

     -fx-pref-width: 320px;
     -fx-pref-height: 40px;
}
#enterButton {
     -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     -fx-font-weight: 700;
     -fx-font-size: 1.2em;

     -fx-background-color: #A0ADBC;
     -fx-text-fill: white;

     -fx-pref-width: 320px;
     -fx-pref-height: 40px;
}
#enterButton:hover {
    -fx-background-color: #164ea1;
    -fx-text-fill: white;
}
#startButton:hover {
    -fx-background-color: #164ea1;
    -fx-text-fill: white;
}
#createButton {
     -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     -fx-font-weight: 700;
     -fx-font-size: 1.2em;

     -fx-background-color: white;
     -fx-text-fill: #A0ADBC;

     -fx-border-color: #A0ADBC;
     -fx-border-width: 4px;
     -fx-border-radius: 2px;

     -fx-pref-width: 320px;
     -fx-pref-height: 40px;
}

#createButton:hover {
    -fx-border-color: #164ea1;
    -fx-text-fill: #164ea1;
}

#lastButton {
     -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     -fx-font-weight: 700;
     -fx-font-size: 1.2em;

     -fx-background-color: white;
     -fx-text-fill: black;

     -fx-border-color: #A0ADBC;
     -fx-border-width: 4px;
     -fx-border-radius: 2px;

     -fx-pref-width: 320px;
     -fx-pref-height: 40px;
}

#centerContainer {
-fx-padding: 1em 1em;
}
#middleContainer {
     -fx-padding: 1em 0em;
}
#bottomContainer {
     -fx-padding: 1em 0em;
}
#lastButton:hover {
    -fx-border-color: #164ea1;
    -fx-text-fill: black;
}

#button {
     -fx-background-color: #D0D7E0;
     -fx-background-radius: 4px;

     -fx-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     -fx-text-fill: black;
     -fx-font-size: 1.5em;
     -fx-font-weight: 700;

     -fx-pref-width: 90;
     -fx-pref-height: 1em;
}
#button:hover {
     -fx-background-color: #6CA2F3;
}
#button:pressed {
  background-color: #3e8e41;
}

#Buttons {
    -fx-pref-columns: 3;
    -fx-pref-tile-width: 90;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#inputLayer {
    -fx-background-color: null;
    -fx-grid-lines-visible: false;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 10;
}

